*{
    margin: 0;
    padding:  0;
    box-sizing: border-box;
}
main{
    width: 100%;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    text-align: center;
}

main .modal-add .modal-dialog .modal-content .modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ebebeb;
}

main .modal-add .modal-dialog .modal-content .modal-body label input{
    height: 2em;
    padding: .5em;
    border-radius: 5px;
    outline: none;
    border: none;
}

main .modal-add .modal-dialog .modal-content .modal-body label input:first-of-type,
main .modal-add .modal-dialog .modal-content .modal-body button:first-of-type{
    margin-bottom: .5em;
}

main .modal-add .modal-dialog .modal-content .modal-body button{
    width: 10em;
    height: 2.5em;
    border-radius: 15px;
    border: 1px solid #949e8f;
    outline: none;
    background-color: #ebebeb;
    cursor: pointer;
    transition: all .3s ease;
}

main .modal-add .modal-dialog .modal-content .modal-body button:hover{
    border: 1px solid rgb(75, 108, 71);
    background-color: rgb(101, 136, 96);
    color: #fff;
}

main .modal-role .modal-dialog .modal-content .modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ebebeb;
}

main .modal-role .modal-dialog .modal-content .modal-body label input{
    height: 2em;
    padding: .5em;
    border-radius: 5px;
    outline: none;
    border: none;
}

main .modal-role .modal-dialog .modal-content .modal-body label input:first-of-type,
main .modal-role .modal-dialog .modal-content .modal-body button:first-of-type{
    margin-bottom: .5em;
}

main .modal-role .modal-dialog .modal-content .modal-body button{
    width: 10em;
    height: 2.5em;
    border-radius: 15px;
    border: 1px solid #949e8f;
    outline: none;
    background-color: #ebebeb;
    cursor: pointer;
    transition: all .3s ease;
}

main .modal-role .modal-dialog .modal-content .modal-body button:hover{
    border: 1px solid rgb(75, 108, 71);
    background-color: rgb(101, 136, 96);
    color: #fff;
}

main .info{
    display: flex;
}

main .info .lista{
    width: 50%;
    height: 75%;
    padding: 1.5em;
}

main .info .lista .contenedor-registro .contenedor-lista-personas{
    padding: 1.5em;
}

main .info .lista .contenedor-registro .contenedor-lista-personas .lista-personas h3{
    font-size: 1.5em;
    color: #8f3838;
}

main .info .lista .contenedor-registro .contenedor-roles .lista-roles h3{
    font-size: 1.5em;
    color: #8f3838;
}

main .info .contenedor-resultado{
    width: 50%;
    height: 75%;
    padding: 1.5em;
}

main .info .contenedor-resultado .resultado .item-respuesta{
    padding: .5em;
    border-bottom: 1px solid #000;
}

main .acciones{
    width: 100%;
    height: 25%;
    padding: 1.5em;
}

main .acciones .able{
    width: 10em;
    height: 2.5em;
    border-radius: 15px;
    border: 1px solid #949e8f;
    outline: none;
    background: none;
    cursor: pointer;
    transition: all .3s ease;
}

main .acciones .disabled-btn{
    width: 10em;
    height: 2.5em;
    border-radius: 15px;
    border: 1px solid #949e8f;
    outline: none;
    background: none;
    cursor: not-allowed;
}

main .acciones .able:hover{
    border: 1px solid rgb(75, 108, 71);
    background-color: rgb(101, 136, 96);
    color: #fff;
}